doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/icofont/icofont.min.css')
    link(rel='stylesheet', href='/stylesheets/aos.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    section(id='topbar')(class=['d-none d-lg-block'])
        div(class=['container clearfix'])
            div(class=['contact-info float-left'])
                i(class=['icofont-envelope'])
                    a(href='') afriaid.africa.com
                i(class=['icofont-phone'])
                    a(href='') +234 706 0737 799
            div(class=['social-links float-right'])
                a(href='')(class=['twitter'])
                    i(class=['icofont-twitter'])
                a(href='')(class=['facebook'])
                    i(class=['icofont-facebook'])
                a(href='')(class=['skype'])
                    i(class=['icofont-skype'])
                a(href='')(class=['linkedin'])
                    i(class=['icofont-linkedin'])
                a(href='')(class=['twitter'])
                    i(class=['icofont-twitter'])
    header(id='header')
        div(class=['container'])
            div(class=['logo float-left'])
                h1(class=['text-light'])
                    a(href="home")
                        i(class=['icofont-first-aid-alt'])
                            span afri aid
            nav(class=['nav-menu float-right d-none d-lg-block'])
                ul
                    li(class=['active'])
                        a(href="home")
                            i(class=['icofont-home']) Home
                    li
                        a(href="")
                            i(class=['icofont-home']) book an appointment
                    li(class=['drop-down'])
                        a(href="")
                            i(class=['icofont-home']) first aid
                        ul
                            li
                                a(href="") health tips
                            li(class=['drop-down'])
                                a(href="") first aid
                                    //ul
                                        li
                                            a(href="") hey
                                        li
                                            a(href="") it's me
                                        li
                                            a(href="") i am the deep
                                        li
                                            a(href="") drop downn
                                        li
                                            a(href="") shh...
                            li
                                a(href="") med school
                            li
                                a(href="") quick videos
                            li
                                        a(href="") do you know
                    li
                        a(href="login")
                            i(class=['icofont-login']) login
    block script
      // Vendor JS Files
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/bootstrap.min.js')
      script(src='/javascripts/jquery.easing.min.js')
      script(src='/javascripts/jquery.sticky.js')
      script(src='/javascripts/venobox.min.js')
      script(src='/javascripts/owl.carousel.min.js')
      script(src='/javascripts/jquery.waypoints.min.js')
      script(src='/javascripts/counterup.min.js')
      script(src='/javascripts/isotope.pkgd.min.js')
      script(src='/javascripts/aos.js')
      // Template Main JS File
      script(src='/javascripts/anime.js')
     
      